.calendar-popup {
  width: 320px;
  border: 1px solid #000;
  background: #fff;
  padding: 10px;
}

.rdp-weekday:first-child {
  color: red;
}
.rdp-weekday:last-child {
  color: blue;
}

.rdp-day_selected {
  background-color: #b57b5c !important;
  color: white;
}

.calendar-footer {
  display: flex;
  justify-content: space-between;
  border-top: 1px solid #ddd;
  margin-top: 8px;
  padding-top: 8px;
}

.calendar-today,
.calendar-close {
  font-size: 13px;
  background: none;
  border: none;
  cursor: pointer;
}
