/* tailwind.css 또는 global.css */

@tailwind base;
@tailwind components;
@tailwind utilities;

/* body에 최우선 폰트 적용 */
body {
  margin: 0;
  font-family: 'GmarketSans', sans-serif !important; /* !important로 우선순위 최상 */
}

/* 폰트 정의 */
@font-face {
  font-family: 'GmarketSans';
  src: url('./assets/fonts/GmarketSans.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}
